.conteudoHome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
}

.texto{
    margin: 3%;
}

.texto h2{
    font-size: 2.5vw;
    text-align: start;
}

.texto p{
    font-size: 1.2vw;
    text-align: justify;
}

.imageHomePromotional{
    width: 100%;
    border-radius: 40px;
}